@charset "EUC-KR";

.formWrap {
    width: 600px;
}

.span_form {
	display:inline-block; 
	width:190px; 
	font-size:18px;
}

.input_form {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.input_edit {
	width: 100% !important;	
}

.subtitle {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #28424e;
}

.btnWrap, .forgotPW, .pwInfo, .newSame {
    float:center;
    text-align:center;
    vertical-align:middle;
}

.btnWrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 40px;
}

.btnWrap button {
	flex: 1;
}

.btnWrap button:not(:first-child) {
	margin-left: 30px;
}